flask
gunicorn
requests
werkzeug
g4f
meta-ai-api
ddgs
pymongo
redis
dnspython
psycopg2-binary
python-dotenv
dnspython
flask
g4f
gunicorn
psycopg2-binary
pymongo
python-dotenv
redis
requests
werkzeug
ddgs
meta-ai-api
